@import "tailwindcss";
@import "flowbite/src/themes/default";

body{
    background-color: #151515;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset;
  -webkit-text-fill-color: #ccc;
  transition: background-color 5000s ease-in-out 0s;
}

